:root {
    font-size: 16px;
    --fontList: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --veryLightBlue: #FAFCFD;
    --lightBlue: #9dacef;
    --periGrey: #9BA1BA;
    --mutedPeriwinkle: #4A5DB1;
    --mutedPeriwinkleShadow: hsla(229, 58%, 69%, 28%);
    --cornFlower: #4B65D9;
    --electricBlue: #17309A;
    --veryDarkBlue: #132367;
}

body {
    background-color: var(--veryLightBlue);
    font-family: var(--fontList);
    font-size: 18px;
    color: var(--veryDarkBlue);
}

h1 {
    font-size: 36px;
    font-weight: bold;
}

h2 {
    font-size: 28px;
    font-weight: bold;
}

h3 {
    font-size: 24px;
    font-weight: 400;
}

h4 {
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 5px;
}

.subheader {
    font-size: 24px;
    font-weight: 400;
}

label, .label {
    font-size: 18px;
    font-weight: bold;
    display: block;
    /* margin-bottom: 8px; */
    line-height: 34px;
}

.labelHelper {
    font-weight: normal;
}

.checkbox {
    font-weight: normal;
}

button {
    font-size: 18px;
    font-weight: bold;
    color: var(--veryLightBlue);
    background-color: var(--electricBlue);
    border: 3px solid var(--cornFlower);
    border-radius: 4px;
    padding: 10px 20px;
    text-decoration: none;
}

button > a, button > a:visited {
    color: var(--veryLightBlue);
    text-decoration: none;
}

button:hover {
    cursor: pointer;
    background-color: var(--cornFlower);
}

.secondaryButton {
    background-color: var(--mutedPeriwinkleShadow);
    border-color: var(--lightBlue);
    color: var(--mutedPeriwinkle)
}

.secondaryButton:hover {
    background-color: var(--lightBlue);
    border-color: var(--lightBlue);
    color: var(--electricBlue);
}

.cancelButton {
    background-color: #f7eded;
    color: rgb(185, 74, 74);
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    border: none;
    /* border: 3px solid var(--periGrey); */
    margin: 1rem 0rem;
    /* padding: 5px 10px; */
}

.cancelButton:hover{
    background-color: rgb(185, 74, 74);
    color: white;
    border-color: darkred;
}

input[type=text], 
input[type=number], 
input[type=email],
input[type=password],
textarea {
    font-family: var(--fontList);
    font-size: 18px;
    border: 1px solid var(--cornFlower);
    border-radius: 4px;
    padding: 8px 8px;
    color: var(--electricBlue);
    display: block;
    margin-bottom: 16px;
    width: 300px;
}

input[type=text]::placeholder, 
input[type=number]::placeholder, 
input[type=email]::placeholder,
input[type=password]::placeholder,
textarea::placeholder {
    color: var(--periGrey);
}

input[type=number] {
    width: 80px;
}

.form-control {
    font-weight: normal;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}

.form-control + .form-control {
margin-top: 1em;
}

.formContainer {
    max-width: 800px;
    box-shadow: 0px 0px 8px var(--mutedPeriwinkleShadow);
    margin: 80px auto;
    background-color: white;
    border: 1px solid #4A5DB1;
    border-radius: 10px;
    padding: 80px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.cardContainer {
    max-width: 400px;
    margin: 80px auto;
    box-shadow: 0px 0px 8px var(--mutedPeriwinkleShadow);
    background-color: white;
    border: 1px solid var(--mutedPeriwinkle);
    border-radius: 10px;
}

.cardImage {
    height: 250px;
    /* width: 100%; */
    padding: 0;
    margin: 0;
    border-radius: 10px 10px 0px 0px;
    background-size: cover;
    background-position: center;    
    border-bottom: 1px solid var(--mutedPeriwinkle)
}

.cardBody {
    /* top right bottom left */
    padding: 0 2rem 3rem 2rem;
    text-align: center;
}

.roomCardGroup {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 1rem;;
}

.roomCardContainer {
    /* margin: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem; */
    /* margin: 2rem 0 2rem 0; */
    margin: 0;
    display: inline-block;
    width: 200px;
}

.roomCardContainer:hover {
    box-shadow: 0px 0px 8px var(--mutedPeriwinkle);
}

.roomCardImage {
    height: 150px;
}

.roomCardBody {
    padding: 0 1rem 0 1rem;
}

.roomCardBody > h2 {
    font-size: 20px;
    margin-top: 12px
}

a > .roomCardContainer, a:visited > .roomCardContainer {
    color: var(--electricBlue)
}

a:hover > .roomCardContainer {
    background-color: var(--lightBlue);
    color: white;
}

.sectionText {
    font-size: 18px;
    color: var(--mutedPeriwinkle);
    margin-bottom: 30px;
}

.customCheckboxes ul {
    list-style-type: none;
    
}

.customCheckboxes li {
    display: inline-block;
    margin-bottom: 10px;
}

.customCheckboxes input[type="checkbox"][id^="myCheckbox"] {
    display: none;
}

.customCheckboxes label {
    width: 170px;
    border: 2px solid #d4d4d4;
    border-radius: 7px;
    /* padding: 10px; */
    display: block;
    position: relative;
    margin: 10px;
    margin-bottom: 0;
    cursor: pointer;
}

.customCheckboxes label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 2px solid var(--veryDarkBlue);
    position: absolute;
    top: -6px;
    left: -6px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.3s;
    transform: scale(0);
}

.customCheckboxes label .checkboxcard {
    height: 200px;
    width: 170px;
    border-radius: 5px 5px 0 0;
    background-size: cover;
    background-position: center;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}

.customCheckboxes :checked + label {
    border-color: var(--mutedPeriwinkle);
    border-width: 2px;
}

.customCheckboxes :checked + label:before {
    content: "✓";
    background-color: var(--electricBlue);
    transform: scale(1);
}

.customCheckboxes :checked + label .checkboxcard {
    /* transform: scale(0.9); */
    /* box-shadow: 0 0 5px #333; */
    z-index: -1;
}

.checkboxlabel {
    padding: 3px 10px;
    font-weight: normal;
    font-size: 16px;
}

.regularCheckboxes input[type="checkbox"] + label {
    font-weight: normal;
    display: inline;
    padding-left: 8px;
}

.parent {
    display: grid;
    max-width: 600px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

#div1 { grid-area: 1 / 1 / 2 / 2; }
#div2 { grid-area: 1 / 2 / 2 / 3; }
#div3 { grid-area: 1 / 3 / 2 / 4; }
#div4 { grid-area: 2 / 1 / 3 / 2; }
#div5 { grid-area: 2 / 2 / 3 / 3; }
#div6 { grid-area: 2 / 3 / 3 / 4; }
#div7 { grid-area: 3 / 1 / 4 / 2; }
#div8 { grid-area: 3 / 2 / 4 / 3; }
#div9 { grid-area: 3 / 3 / 4 / 4; }

.wideInput input[type="text"], textarea {
    width: 500px;
}